
<nav class='navbar navbar-expand navbar-light bg-light'>
    <a class='navbar-brand'>Ingreso y lectura de personas</a>
    <ul class='nav nav-pills'>
      <li><a class='nav-link' routerLinkActive='active'
             [routerLink]="['/registro']">Registro</a>
      </li>
      <li><a class='nav-link' routerLinkActive='active' [routerLinkActiveOptions]="{ exact: true }"
             [routerLink]="['/lista']">Lista</a>
      </li>
    </ul>
</nav>
<div class='container'>
  <router-outlet></router-outlet>
</div>

